<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mugs</title>
  </head>
  <body>
    <h1>Edit Mug</h1>
    <form action="/edit/{{ mug._id }}?_method=PUT" method="post">
      <div class="form-group">
        <label>Mug Name:</label><br />
        <input type="text" name="name" value="{{ mug.name }}" />
      </div>
      <div class="form-group">
        <label>Color:</label><br />
        <input type="text" name="color" value="{{ mug.appearance.color }}" />
      </div>
      <div class="form-group">
        <label>Type:</label><br />
        <select name="style">
          {{{ style }}}
        </select>
      </div>
      <div class="form-group">
        <label>Material:</label><br />
        <select name="material">
          {{{ material }}}
        </select>
      </div>
      <div class="form-group">
        <label>Is this mug dishwasher safe?</label><br />
        {{{ dishwasherSafe }}}
      </div>
      <div class="form-group">
        <label>Is this mug insulated?</label><br />
        {{{ insulated }}}
      </div>
      <div class="form-group">
        <label>How many ounces?</label><br />
        <select name="sizeInOunces">
          {{{ size }}}
        </select>
      </div>
      <div class="form-group">
        <label>Unique Characteristics (separate characteristics with semicolons)</label>
        <input type="text" name="uniqueCharacteristics" value="{{ characteristics }}" />
      </div>
      <input type="submit" value="Create Mug" />
    </form>

    <form action="/delete/{{ mug._id }}?_method=DELETE" method="post">
      <input type="submit" value="Delete Mug" />
    </form>

  </body>
</html>
