<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mugs</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <nav>
      <a href="/"><i class="fa fa-coffee" aria-hidden="true"></i></a>
      <h1><a href="/">Mugs Central</a></h1>
      <a class="add-link" href="/add"><i class="fa fa-plus" aria-hidden="true"></i>
</a>
    </nav>

    <div class="container">

      <div class="single-mug">
        <h3>{{ name }}</h3>
        <img class="single-image" src="{{ imageURL }}" />
        <ul>
          <li><strong>COLOR:</strong> {{ appearance.color }}</li>
          <li><strong>TYPE OF MUG:</strong> {{ appearance.style }}</li>
          <li><strong>MATERIAL:</strong> {{ appearance.material }}</li>
          <li><strong>DISHWASHER SAFE:</strong> {{ isDishwasherSafe }}</li>
          <li><strong>INSULATED:</strong> {{ isInsulated }}</li>
          <li><strong>SIZE:</strong> {{ sizeInOunces }}</li>
          <li><strong>UNIQUE CHARACTERISTICS:</strong></li>
          {{ #uniqueCharacteristics }}
          <ul>
            <li>{{ . }}</li>
          </ul>
          {{ /uniqueCharacteristics }}
        </ul>
      </div>

      <form id="delete-form" action="/delete/{{ _id }}?_method=DELETE" method="post">
        <button id="delete-button" type="submit" value="Delete Mug">Delete Mug</button>
      </form>
      <a id="edit-button" href="/edit/{{ _id }}">Edit</a>
      <ul>

    </div>
  </body>
</html>
