<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mugs</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <nav>
      <a href="/"><i class="fa fa-coffee" aria-hidden="true"></i></a>
      <h1>Mugs Central</h1>
      <a class="add-link" href="/add"><i class="fa fa-plus" aria-hidden="true"></i>
</a>
    </nav>

    <div class="container">

      <div class="">
        <h3>{{ name }}</h3>
        <ul>
          <li>{{ appearance.color }}</li>
          <li>{{ appearance.style }}</li>
          <li>{{ appearance.material }}</li>
          <li>{{ isDishwasherSafe }}</li>
          <li>{{ isInsulated }}</li>
          <li>{{ sizeInOunces }}</li>
          <li>Unique Charactersistics:</li>
          {{ #uniqueCharacteristics }}
          <ul>
            <li>{{ . }}</li>
          </ul>
          {{ /uniqueCharacteristics }}
        </ul>
      </div>

      <form action="/delete/{{ _id }}?_method=DELETE" method="post">
        <input type="submit" value="Delete Mug" />
      </form>
      <a href="/edit/{{ _id }}">Edit</a>
      <ul>

    </div>
  </body>
</html>
